.navbar {
    overflow: hidden;
    background-color: rgb(184, 180, 181);
    opacity: 80%;
    font-family: Arial;
    width: 700px;
    color: rgb(189, 180, 180);
    border-radius: 15px;


  }

.inactive {
    color: rgb(244, 248, 250);
    text-decoration: none;

}

.active {
    color: rgb(0, 8, 15);

}

.navbar .inactive:hover{
    background-color: yellow;
    text-decoration: none;
}

.navbar .active:hover{
    background-color: yellow;
    text-decoration: none;
}
